<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SFA.DAS.Tools.Servicebus.Support.Web</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link href="https://das-test-frnt-end.azureedge.net/css/main.css" media="screen" rel="stylesheet" />
    
    @* Below content is from site.css but due to uncertainty around how DevOps require us to serve static content we will add it directly here for now *@

    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <style>
        a.navbar-brand {
            white-space: normal;
            text-align: center;
            word-break: break-all;
        }

        /* Provide sufficient contrast against white background */
        a {
            color: #0366d6;
        }

        .btn-primary {
            color: #fff;
            background-color: #1b6ec2;
            border-color: #1861ac;
        }

        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
            color: #fff;
            background-color: #1b6ec2;
            border-color: #1861ac;
        }

        /* Sticky footer styles -------------------------------------------------- */
        html {
            font-size: 14px;
        }

        @@media (min-width: 768px) {
            html {
                font-size: 16px;
            }
        }

        .border-top {
            border-top: 1px solid #e5e5e5;
        }

        .border-bottom {
            border-bottom: 1px solid #e5e5e5;
        }

        .box-shadow {
            box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
        }

        button.accept-policy {
            font-size: 1rem;
            line-height: inherit;
        }

        /* Sticky footer styles -------------------------------------------------- */
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            white-space: nowrap;
            line-height: 60px; /* Vertically center the text there */
        }

        .col-wrap {
            word-wrap: break-word;
        }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/4.0.7/css/sb-admin-2.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
<header class="govuk-header " role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
            <a class="govuk-header__link govuk-header__link--homepage" asp-area="" asp-controller="Servicebus" asp-action="Index">ServiceBus Error Management</a>
        </div>
    </div>
</header>

<div class="container-fluid">
    <main role="main" class="govuk-main-wrapper">
        <partial name="_LoadingPartial"/>
        @RenderBody()
    </main>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript">
    function displayBusyIndicator() {
        document.getElementById("loading").style.display = "block";
    }
</script>

@* Due to uncertainty around how DevOps require us to serve static content we will add it directly in the pages for now *@
@*<script src="~/js/site.js" asp-append-version="true"></script>*@

@RenderSection("Scripts", required: false)
</body>
</html>
