@model QueueViewModel
@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.0/bootstrap-table.min.js"></script>

    <script type="text/javascript">

        function getQueueMessagesLink(queue) {
            displayBusyIndicator();
            var qtyValue = $('#getQty :selected').val();
            $('#getQuantityFormField').val(qtyValue);
            $('#queueNameFormField').val(queue);
            $('#queueTableForm').submit();
        }

        function operateFormatter(value, row, index) {
            return '<a class="detail" href="#" onclick="getQueueMessagesLink(\'' + row.id + '\')" title ="Retrieve messages from ServiceBus queue, this will give you sole possession">Retrieve messages</a>';
        };

        function queryParams(params) {
            params.filterEmptyQueues = $('#toggleHideEmptyQueues').is(":checked");
            return params
        }

        function refreshBootstrapTable() {
            $('#toggleHideEmptyQueues').attr('disabled', true);
            $('#queueTable').bootstrapTable('refresh');
        }

        $(function () {
            $('#queueTable').on('load-success.bs.table', function () {
                $('#toggleHideEmptyQueues').attr('disabled', false);
            });
        })

    </script>
}

@section Styles
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.0/bootstrap-table.min.css" />
}

<div>
    <h1 class="govuk-heading-xl">Message queues</h1>

    <fieldset class="form-group">
        <div class="row">
            <div class="col">
                <label for="getQty">Get quantity</label>
                <select name="getQty" id="getQty">
                    <option value="250">250</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                </select>
            </div>
            <div class="col">
                <div class="custom-control custom-switch float-right">
                    <input type="checkbox" checked class="custom-control-input" id="toggleHideEmptyQueues" onchange="refreshBootstrapTable()">
                    <label class="custom-control-label" for="toggleHideEmptyQueues">Hide empty queues</label>
                </div>
            </div>
        </div>
    </fieldset>
    <form method="post" id="queueTableForm" asp-action="ReceiveMessagesFromQueue" asp-controller="MessageList">
        <input type="hidden" name="getQuantity" id="getQuantityFormField" />
        <input type="hidden" name="queueName" id="queueNameFormField" />
    </form>
    <table id="queueTable"
           class="govuk-table"
           data-toggle="table"
           data-pagination="true"
           data-search="true"
           data-click-to-select="true"
           data-sortable="true"
           data-url="@Url.Action("Index", "Queues")"
           data-query-params="queryParams"
           style="table-layout: fixed">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col"
                    class="col-wrap"
                    data-field="id"
                    data-visible="false">
                </th>
                <th scope="col"
                    class="col-wrap"
                    data-sortable="true"
                    data-field="name"
                    data-width="40"
                    data-width-unit="%">
                    Queue
                </th>
                <th scope="col"
                    class="col-wrap"
                    data-sortable="true"
                    data-field="messageCount"
                    data-width="20"
                    data-width-unit="%">
                    Message count
                </th>
                <th scope="col"
                    class="col-wrap"
                    data-sortable="true"
                    data-field="messageCountInvestigation"
                    data-width="20"
                    data-width-unit="%">
                    Under investigation
                </th>
                <th scope="col"
                    class="col-wrap"
                    data-sortable="false"
                    data-width="20"
                    data-width-unit="%"
                    data-formatter="operateFormatter">
                    Actions
                </th>
            </tr>
        </thead>
    </table>
</div>
