@model QueueViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Error search</h1>
        
    <form >
        <select asp-for="SelectedQueue" asp-items="Model.Queues">
            <option value="">Select queue</option>
        </select>
        <input type="submit" value="Receive" method="post" asp-controller="MessageList" asp-action="ReceiveMessages" />
    </form>
         
</div>
